
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        @Html.ActionLink("adicionar Atleta", "Index", "Atleta");
        @Html.ActionLink("ver atletas", "verAtletas", "Atleta");
    </div>
</body>
</html>
